# Created by .ignore support plugin
### Example user template template
### Example user template

# IntelliJ project files
.idea
target
*.yml
*.iml
out
gen
#eclipse
.settings
.classpath
.project